<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DR.SCIENCE</title>
    <!-- <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css"> -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700' rel='stylesheet' type='text/css'></head>
<body ng-app="DrScience">
    <div ng-controller="MainController">
        <div id="social-media-toolbar">
            <a href="https://www.facebook.com/drsciencefl/" target="_blank">
                <img src="img/icon-fb.png" alt="">
            </a>
        </div>

        <div id="audio-toolbar">
            <div ng-click='audio.paused ? audio.play() : audio.pause()' id="play-icon">
                <i class="fa flex" ng-class="{'fa-play-circle-o': audio.paused, 'fa-pause-circle-o': !audio.paused}"></i>
            </div>
        </div>

        <div id="audio-slider" ng-if="!audio.paused" ng-cloak>
            <div class="center">
                <span class="track-title">No More (very rough mix)</span>
            </div>
            <md-slider type="range" step="0.01" class="flex" min="0" max="1" ng-model="audio.progress" class=""></md-slider>
        </div>

        <div class="container">
            <md-content>

            </md-content>
            <div class="layout-column">
                <a href="http://youtu.be/wBdGkUik_sg" target="_blank">
                    <div id="fp-link-1" class="frontpage layout-row layout-align-center-center md-padding">
                        <div class="flex center">D</div>
                        <div class="flex center">R</div>
                        <div class="flex center">.</div>
                        <div class="flex center">S</div>
                        <div class="flex center">C</div>
                    </div>
                </a>
                <a href="http://youtu.be/7SO4sHl2RGc" target="blank">
                    <div id="fp-link-2" class="frontpage layout-row layout-align-center-center md-padding">
                        <div class="flex center">I</div>
                        <div class="flex center">E</div>
                        <div class="flex center">N</div>
                        <div class="flex center">C</div>
                        <div class="flex center">E</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>


<!-- <script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-aria/angular-aria.min.js"></script>
<script src="/bower_components/angular-messages/angular-messages.min.js"></script>
<script src="/bower_components/angular-material/angular-material.min.js"></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="lib/angular-audio/app/angular.audio.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
<script src="script.js"></script>

</html>
